[v-cloak] { display: none }
.bjs-powered-by { bottom: 15px!important; right: 60px!important; }
.selectable { cursor: pointer }
.bpmn-highlight {
  stroke: var(--info) !important;
  stroke-width: 2px !important;
  fill-opacity: 0.1 !important;
  fill: var(--info) !important;
}
.list-group-item.active {
    z-index: 2;
    color: #000;
     border-top: 0!important;
     border-bottom: 0!important;
     border-right: 0!important;
    border-left: 5px solid!important;
    border-color: var(--bs-primary)!important;
}
.mdi-16px { font-size: 16px; }
.Pane2 { overflow: auto; }	/* Miragon Modeler - Fix scroll overflow in property panel.*/
.resizer:hover { border-bottom: 5px solid var(--bs-gray)!important }
table .sticky-header { position: sticky; top: 0; z-index: 1; }
table .sticky-header tr { background: var(--bs-white) }
table .sticky-header.light tr { background: var(--bs-light) }
thead.resizable th, thead.resizable + tbody td {
  display: table-cell!important;
  flex: none!important;
  position: relative;
  vertical-align: middle;
}		
thead.resizable tr, thead.resizable + tbody tr {
  display: table-row!important;
}
.v-resizable::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    border-bottom: 1px solid var(--bs-gray);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.bg-expert-custom {
  background-color: #2cdd3b59!important;
}
.bg-task-filter {
        background-color: rgb(98, 142, 199, 0.2);
}
.tabs-scroll-container {
  overflow: hidden;
}
.tabs-scroll-container:hover {
  overflow-x: auto;
}

/* BPMN Viewer - Fix for blue expand process button icon not being centered */
.bjs-container {
  font-size: 10px;
}

/* BPMN Viewer - Improve styling for navigation */
.bjs-breadcrumbs li a {
  text-decoration: underline !important;
}

.bjs-breadcrumbs li:last-of-type a {
  text-decoration: none !important;
}
